
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Gentium+Book+Plus:ital@1&family=Lobster&family=Sofia&display=swap');

header{
	background-color: #00849E;
	padding:10px;
	
	height:150px;
}


.inline-bl{
	color: white;
	text-align: right;
	margin:1%;
}
.inline-bl li {
	list-style: none;
	display: inline;
	padding:20px;
	font-size: 20px;
}

.inline-bl a{
	outline: none;
	text-decoration: none;
	color:white;
}

.inline-logo{
	float:left;
	margin:10px 0 10px 30px;
}

.heroImg{
	height: 80%;
	padding: 50px;
	border-width:11px;
	border-color: #00849E;
	border-style: double;
	margin:20px;
}

#iam { 
	width: 60%; 
}

.content {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
	border-width:11px;
	border-color: #00849E;
	border-style:dotted;
	width:35%;
}

button{
	 box-shadow: 5px 5px 3px #888888;
}

h1, p {
	text-align: center;
}	

h1{
	color: #00849E;
	box-shadow: 5px 5px 3px #888888;
	padding:0 0 15px 0;
	font-family: 'Sofia', cursive;
}

p {	
	font-family: 'Sofia', cursive;
	font-size:19px;
	text-align: justify;
}

footer {
	background-color: #00849E;
	padding: 1%;
	width:100%;
}

div {
    text-align: center;
}

div ul {
    display: inline-block;
	color: white;
}

div li {
    float:left;
	display: inline;
	padding:30px;
}
body{
	margin: 0;
}